.idea/
.php-cs-fixer.cache
.phpunit.cache/
.phpunit.result.cache
.vscode/
comparisons_results.json
composer.lock
coverage_report/
coverage-report/
coverage.xml
coverage/
node_modules/
package.json
package-lock.json
vendor/

*.yaml
*.json
!composer.json

*.md
!README*.md
!comparisons_results.md